openapi: 3.1.0
info:
  title: WorkLedger Sync API
  description: |
    Zero-knowledge encrypted sync server for WorkLedger notes. All entries are encrypted client-side (AES-256-GCM) — the server only stores opaque blobs.

    **Authentication:** All endpoints except `POST /accounts` require an `X-Auth-Token` header containing a 64-character hex string (a SHA-256 hash derived client-side).

    **Sync protocol:** Push/pull use Last-Write-Wins (LWW) based on `updatedAt` timestamps. Server wins ties. Pull supports pagination via `since` and `limit`.

  version: 1.0.0
  license:
    name: MIT

servers:
  - url: https://sync.workledger.app
    description: Production
  - url: http://localhost:3000
    description: Local development

components:
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: |
        Paste the auth token (64 hex characters). This is the value the client
        computes as hex(SHA-256("auth:" + syncId)) — paste the hash, not the sync ID.

  schemas:
    SyncEntry:
      type: object
      required:
        - id
        - updatedAt
        - isArchived
        - isDeleted
        - encryptedPayload
        - integrityHash
      properties:
        id:
          type: string
          description: Unique entry identifier (e.g. UUID)
          example: "entry-001"
        updatedAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds (client clock)
          example: 1707900000000
        isArchived:
          type: boolean
          description: Whether the entry is archived
          example: false
        isDeleted:
          type: boolean
          description: Whether the entry is soft-deleted
          example: false
        encryptedPayload:
          type: string
          description: Base64-encoded AES-256-GCM ciphertext (12-byte IV prepended)
          example: "dGVzdCBwYXlsb2Fk..."
        integrityHash:
          type: string
          description: Hex-encoded SHA-256 hash of the plaintext (for client-side verification)
          example: "e3b0c44298fc1c14..."
        serverSeq:
          type: integer
          format: int64
          description: Server-assigned sequence number (only present in responses)
          example: 42

    ConflictEntry:
      type: object
      required:
        - id
        - serverUpdatedAt
        - serverSeq
      properties:
        id:
          type: string
          description: Entry ID that conflicted
          example: "entry-001"
        serverUpdatedAt:
          type: integer
          format: int64
          description: The server's version timestamp (which won)
          example: 1707900000000
        serverSeq:
          type: integer
          format: int64
          description: Server sequence of the winning version
          example: 5

    CreateAccountRequest:
      type: object
      required:
        - authToken
      properties:
        authToken:
          type: string
          pattern: "^[0-9a-f]{64}$"
          description: |
            Hex-encoded SHA-256("auth:" + syncId).
            The server stores this directly for authentication lookups.
          example: "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"

    CreateAccountResponse:
      type: object
      required:
        - salt
      properties:
        salt:
          type: string
          description: Base64-encoded 16-byte random salt for PBKDF2 key derivation
          example: "ik8rT3mNqR2xY5zA=="

    ValidateResponse:
      type: object
      required:
        - valid
        - entryCount
        - createdAt
        - salt
      properties:
        valid:
          type: boolean
          description: Whether the account exists
        entryCount:
          type: integer
          format: int64
          description: Number of non-deleted entries (0 if account not found)
        createdAt:
          type: integer
          format: int64
          description: Account creation timestamp in ms (0 if not found)
        salt:
          type: string
          description: Base64-encoded salt (empty string if account not found)

    DeleteResponse:
      type: object
      required:
        - deleted
      properties:
        deleted:
          type: boolean

    PushRequest:
      type: object
      required:
        - entries
      properties:
        entries:
          type: array
          items:
            $ref: "#/components/schemas/SyncEntry"
          description: Entries to push (encrypted client-side)

    PushResponse:
      type: object
      required:
        - accepted
        - conflicts
        - serverSeq
      properties:
        accepted:
          type: integer
          description: Number of entries successfully written
        conflicts:
          type: array
          items:
            $ref: "#/components/schemas/ConflictEntry"
          description: Entries rejected because the server has a newer version
        serverSeq:
          type: integer
          format: int64
          description: Current highest sequence number for this account

    PullResponse:
      type: object
      required:
        - entries
        - serverSeq
        - hasMore
      properties:
        entries:
          type: array
          items:
            $ref: "#/components/schemas/SyncEntry"
        serverSeq:
          type: integer
          format: int64
          description: Current highest sequence number
        hasMore:
          type: boolean
          description: Whether there are more entries beyond the limit

    FullSyncRequest:
      type: object
      required:
        - entries
      properties:
        entries:
          type: array
          items:
            $ref: "#/components/schemas/SyncEntry"
          description: All client entries for initial merge

    FullSyncResponse:
      type: object
      required:
        - entries
        - serverSeq
        - merged
      properties:
        entries:
          type: array
          items:
            $ref: "#/components/schemas/SyncEntry"
          description: All entries after merge (server + client combined)
        serverSeq:
          type: integer
          format: int64
        merged:
          type: integer
          description: Number of client entries that were accepted into the server

paths:
  /api/v1/accounts:
    post:
      operationId: createAccount
      summary: Create a new sync account
      description: |
        Register a new account. The client generates the sync ID locally and sends
        only the auth token (a SHA-256 hash). The server generates a random salt
        for PBKDF2 key derivation.

        This is the only endpoint that does NOT require the X-Auth-Token header.
      tags: [Accounts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountRequest"
      responses:
        "201":
          description: Account created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAccountResponse"
        "400":
          description: Invalid auth token format (must be 64 hex chars)
        "500":
          description: Server error

    delete:
      operationId: deleteAccount
      summary: Delete account and all entries
      description: Permanently deletes the account and all associated entries (cascade).
      tags: [Accounts]
      security:
        - AuthToken: []
      responses:
        "200":
          description: Account deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "401":
          description: Missing X-Auth-Token header
        "404":
          description: Account not found

  /api/v1/accounts/validate:
    get:
      operationId: validateAccount
      summary: Check if account exists and get salt
      description: |
        Validate that an account exists. Returns the salt needed for key derivation.
        Used when setting up a new device with an existing sync ID.

        Returns `valid: false` with zeroed fields if account does not exist (never 404).
      tags: [Accounts]
      security:
        - AuthToken: []
      responses:
        "200":
          description: Validation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateResponse"
              examples:
                found:
                  summary: Account exists
                  value:
                    valid: true
                    entryCount: 12
                    createdAt: 1707900000000
                    salt: "ik8rT3mNqR2xY5zA=="
                notFound:
                  summary: Account does not exist
                  value:
                    valid: false
                    entryCount: 0
                    createdAt: 0
                    salt: ""
        "401":
          description: Missing X-Auth-Token header

  /api/v1/sync/push:
    post:
      operationId: pushEntries
      summary: Push encrypted entries to server
      description: |
        Upload one or more encrypted entries. Each entry is evaluated independently
        using Last-Write-Wins (LWW) based on `updatedAt`:

        - If the entry is new or has a newer `updatedAt` than the server's copy → accepted
        - If the server's copy has an equal or newer `updatedAt` → rejected as a conflict

        The response tells the client which entries were accepted and which conflicted.
        Conflicts include the server's `updatedAt` so the client can resolve.
      tags: [Sync]
      security:
        - AuthToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PushRequest"
      responses:
        "200":
          description: Push result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PushResponse"
        "401":
          description: Missing X-Auth-Token header
        "404":
          description: Account not found

  /api/v1/sync/pull:
    get:
      operationId: pullEntries
      summary: Pull entries changed since a sequence number
      description: |
        Fetch entries that have changed since the given `since` sequence number.
        Used for incremental sync. Returns entries ordered by `serverSeq` ascending.

        Supports pagination: if `hasMore` is true, call again with the highest
        `serverSeq` from the returned entries as the new `since` value.
      tags: [Sync]
      security:
        - AuthToken: []
      parameters:
        - name: since
          in: query
          schema:
            type: integer
            format: int64
            default: 0
          description: Return entries with `serverSeq` greater than this value
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
            default: 100
            maximum: 500
          description: Maximum number of entries to return
      responses:
        "200":
          description: Entries since the given sequence
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PullResponse"
        "401":
          description: Missing X-Auth-Token header

  /api/v1/sync/full:
    post:
      operationId: fullSync
      summary: Initial full sync (merge all entries)
      description: |
        Used for the first sync on a new device. The client sends all its local
        entries, and the server merges them with existing entries using LWW.

        Returns ALL entries for the account after the merge — both the client's
        entries that were accepted and any server-only entries the client didn't have.

        After this call, the client should store the returned `serverSeq` and use
        incremental push/pull for subsequent syncs.
      tags: [Sync]
      security:
        - AuthToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FullSyncRequest"
      responses:
        "200":
          description: Merged result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FullSyncResponse"
        "401":
          description: Missing X-Auth-Token header
        "404":
          description: Account not found

  /health:
    get:
      operationId: healthCheck
      summary: Health check
      tags: [System]
      responses:
        "200":
          description: Server is running
          content:
            text/plain:
              schema:
                type: string
                example: "ok"
